/DerivedDataCache/
/Config/
/Intermediate/
/Saved/
/Content/__ExternalObjects__
/Content/__ExternalActors__
/Content/Collections/
/Content/ThirdPerson/
/Content/LevelPrototyping/
Content/Characters
/Content/Developers
/Content/ParagonMurdock
/Content/_Game/Assets
/.vs
/Binaries